html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    color: white;
    background-image: url("../assets/body-bg.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* overflow-x: hidden; */
}

.header-container {
    background-image: url("../assets/me-from-behind-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    border-radius: 0px 0px 100px 100px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.555);
    transition: .7s;
    box-shadow: 0px 2px 15px black;
}

.svg-icon {
    align-items: center;
    width: 1.4em;
margin-right: 10px;
}

.dp-container {
    height: 60vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: .7s;
}

.profile-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name{
    display: flex;
    align-items: center;
}
.image {
    height: 200px;
    width: 200px;
    border-radius: 200px;
    border: 3px solid white;
    margin-bottom: 15px;
    background-image: url("../assets/me.jpg");
    background-size: cover;
    background-position: center;
}

.image-name {
    font-size: 1.8em;
    font-weight: bold;
}

.body-container {
    height: 60vh;
    background-color: white;
}

.sub-container {
    margin: 20px;
    padding: 20px;
    background-color: rgba(12, 12, 12, 0.589);
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(10, 10, 10, 0.692);
}

.sub-container-heading {
    width: 100%;
    color: white;
    font-size: 1.4em;
    font-weight: bolder;
    padding-bottom: 5px;
    margin: 10px 0px;
    border-bottom: 1px solid  #cacacac0;
}

.footer-container {
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.767);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Media Queries */

@media screen and (max-width: 600px){
    .dp-container {
        justify-content: flex-end;
        margin-right: 50px;
        height: 65vh;
        padding-right: 0px;
    }

    .header-container {
        border-radius: 0px 0px 210px 450px;
        background-attachment: fixed;
        background-size: 250%;
        background-position: top;
    }
}

